@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

$primary-color: #396362;
$secondary-color: #4b8e8d;

body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-image: url(https://source.unsplash.com/1600x900/?landscape);
  background-size: cover;
  background-position: 0px -100px;
}

div.rss-rotator {
  width: 100%;
  align-self: flex-end;
  background-color: #fff;
  
  .title {
    padding: 20px;
    background-color: $primary-color;
    color: white;
  }

  ul {
    list-style: none;
    height: 300px;
    overflow: auto;
    margin: 0;
    padding: 0;

    li {
      padding: 0 20px;
      border-bottom: 1px solid #ccc;
    }
  }
}